<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<a href="<%= routes.auth.logout %>" class="logout-button">Logout</a>
<div class="container">
    <h1 class="title">Loot Box!</h1>
    <div class="lootbox-container">
        <div class="lootbox" id="lootbox">
            <img src="/images/lootbox2.png" alt="Lootbox" />
        </div>
    </div>
    <div class="inventory-container">
        <h2>Inventory</h2>
        <div class="inventory-grid">
            <% for (let i = 0; i < 20; i++) { %>
                <div class="inventory-slot"></div>
            <% } %>
        </div>
    </div>
</div>
</body>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const lootbox = document.getElementById("lootbox");

        lootbox.addEventListener("click", () => {
            lootbox.classList.add("clicked");

            setTimeout(() => {
                lootbox.classList.remove("clicked");
            }, 2000);
        });
    });
</script>

</html>
