<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<a href="<%= routes.auth.logout %>" class="logout-button">Logout</a>
<div class="container">
    <h1 class="title">Dashboard</h1>
</div>
</body>
</html>
