<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/index.css" />
</head>
<body>
<div class="container">
  <h1 class="title">INVENTORY MANAGER</h1>
  <p class="welcome">Welcome to <%= title %></p>
  <div class="menu">
    <a href="/login" class="button">Login</a>
    <a href="/register" class="button">Register</a>
  </div>
</div>
</body>
</html>
